
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white
}
body{
    background-color: #f5f5f5;
    background-image: linear-gradient(180deg, #92a0d9 0%, #4d758b 74%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: min(90%, 500px);
    background-image: linear-gradient(180deg, #1a1f33 0%, #182f3b 74%);
    box-shadow: 0 1px 10px 5px #00000057;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

@media (min-width: 768px){
    .input-container{
        flex-direction: row;
    }
}

#razas{
    padding: 6px;
    color: black;
}

#razas option{
    color: black;
}

#btnCargar{
    padding: 8px;
    color: black;
    background-color: #f5f5f5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.img-container{
    width: 100%;
    height: 400px;
    margin-top: 20px;
    background-color: #f5f5f5;
    color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.img-container p{
    color: black;
}